/* Typografi */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variables */
:root {
    --Background: #ffdd9a;
    --PaddingColor: #fff5d3;
    --TextColor: #282828;
    --Orange: #ff9b29;
    --FooterColor: #936e41;
    --HeaderColor: rgba(252, 252, 252, 0.878);

    --ElementMargin: 1rem;
}

[data-theme='dark'] {
    --Background: #001f3d;
    --PaddingColor: #045174;
    --TextColor: #ffffff;
    --Orange: #a94600;
    --FooterColor: #33334a;
    --HeaderColor: rgba(0, 31, 61, 0.878);

    --ElementMargin: 1rem;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: "Poppins", sans-serif;
}

main {
    background-color: var(--Background);
    color: var(--TextColor);
    display: grid;
    grid-template-columns: 0.20fr 1fr 0.25fr;
    grid-template-areas:
        "SubNav BlogSection Aside"
    ;
    gap: 2rem;
    padding: 2rem;
}

img,
video,
picture,
svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    font-family: "Roboto", serif;
    color: var(--TextColor);
}

p {
    max-width: 75ch;
    text-wrap: pretty;
    font-size: 18px;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
    }
}



main {
    grid-area: BlogSection;
}

aside {
    grid-area: Aside;
}

.subNav {
    grid-area: SubNav;
}

.BoldSkew {
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
}

.flex--Row {
    display: flex;
}



/* ========== NAVIGATION ========== */
/* ================================ */

header a,
.subNav a {
    text-decoration: none;
    color: var(--TextColor);
    font-family: "Roboto", serif;
}

header li,
.subNav li {
    list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-transform: uppercase;
}

.mainNav {
    height: 2rem;
    background-color: var(--PaddingColor);
    display: flex;
    align-items: center;
}


.subNav ul {
    display: flex;
    flex-direction: column;
    padding-inline-start: unset;
    padding: 1rem;
}

.subNav li a:hover {
    text-decoration: underline;
}

.subNav {
    background-color: var(--Orange);
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 10;
}





/* ====== HEADERBANNER ====== */
/* ================================ */
.pageTitle {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-dark {
    background-image: url('../img/SkyCode.png');
}

.background-light {
    background-image: url('../img/COLOURBOX2220076-2.jpg');
}


.pageTitle h1 {
    font-size: 6rem;
    background-color: var(--HeaderColor);
    padding: 1rem 2rem;
    border-radius: 6px;
}







/* ====== BLOG CONTENT ====== */
/* ================================ */

article {
    padding: 2rem;
    background-color: var(--PaddingColor);
    border-radius: 6px;
}

.blogSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section>img {
    width: 300px;
}

section {
    margin-top: var(--ElementMargin);
}

figure {
    max-width: 100%;
    margin: 0 auto;
}

figure img {
    width: 700px;
}

figcaption {
    max-width: 75ch;
    padding: 0.5rem;
    font-size: 14px;
}









/* ====== ASIDE ======= */
/* ================================ */

aside img {
    height: 250px;
    margin: 0 auto;
}

aside div p {
    background-color: var(--PaddingColor);
    width: 100%;
    font-size: 16px;
    padding: 1rem;
    border-radius: 6px;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}






/* ====== FOOTER ====== */
/* ================================ */

.footer {
    background-color: var(--FooterColor);
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footerLinks a,
.socialMedia a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

.footerLinks a:hover,
.socialMedia a:hover {
    color: #ffcc00;
}

.footerBottom {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#year {
    font-weight: bold;
}